body, html {
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    background-color: #ededed00;
    margin: 0;
    padding: 0;
}

header {
    background-color: #25928954;
    color: #ffffffd2;
    text-align: center;
    padding: 1rem;
    font-stretch: ultra-expanded;
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #eeeeeeaa;
    padding: 0.5rem;
    border: 0.5px solid rgba(13, 61, 18, 0.153);
    gap: 1rem;
    font-size: 17px;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #46a4c6;
    font-weight: 600;
}

nav ul li a:hover {
    color: #000000ec;
    font-weight: 750;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    background-color: #fff;
    border: 2px solid rgba(8, 12, 124, 0.191);
    border-radius: 70px 5px;
}

footer div {
    margin-top: 50px;
    border: 3px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem;
}

footer p {
    text-align: center;
    color: #092138a1;
}

span {
    color: hwb(270 4% 86% / 0.391);
    font-weight: 600;
}

main div {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zoom-button {
    background-color: #0e395f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 30px 6px;
    border: 1px #21855d solid;
}

.zoom-button:hover {
    transform: scale(1.1);
    color: #100620;
}

@media screen and (max-width: 768px) {
    header {
        padding: 0.5rem;
    }

    nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .content {
        padding: 0.5rem;
    }

    footer div {
        flex-direction: column;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
    nav ul {
        padding: 0.2rem;
    }

    .content {
        padding: 0.2rem;
        border-width: 1px;
    }

    .zoom-button {
        padding: 8px 16px;
    }
}
